:root{
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center{
    height: 800px;
    margin: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: block;
}

.container > h1{
    font-family: 'lato', sans-serif;
    font-size: 40pt;
    text-align: center;
}

.container > p{
    font-family: 'montserrat', sans-serif;
    font-size: 20pt;
    text-align: center;
}

.btn{
    list-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.btn > a{
    padding: 10px 30px;
    border: 3px black solid;
    border-radius: 30px;

    text-decoration: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

.btn > a:hover{
    padding: 10px 30px;
    transition: linear 0.3s;
    border: 3px blue solid;
    border-radius: 30px;
}



/*Tablet Responsive*/
@media screen and (max-device-width: 768px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .center{
        height: 800px;
        margin: 50px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container{
        display: block;
    }
    
    .container > h1{
        font-family: 'lato', sans-serif;
        font-size: 20pt;
        text-align: center;
    }
    
    .container > p{
        font-family: 'montserrat', sans-serif;
        font-size: 10pt;
        text-align: center;
    }
    
    .btn{
        list-style: none;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
    
    .btn > a{
        padding: 10px 30px;
        border: 3px black solid;
        border-radius: 30px;
    
        text-decoration: none;
        font-size: 8pt;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .btn > a:hover{
        padding: 10px 30px;
        transition: linear 0.3s;
        border: 3px blue solid;
        border-radius: 30px;
    }
}



/*Mobile Responsive*/
@media screen and (max-device-width: 425px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .center{
        height: 800px;
        margin: 50px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container{
        display: block;
    }
    
    .container > h1{
        font-family: 'lato', sans-serif;
        font-size: 10pt;
        text-align: center;
    }
    
    .container > p{
        font-family: 'montserrat', sans-serif;
        font-size: 5pt;
        text-align: center;
    }
    
    .btn{
        list-style: none;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
    
    .btn > a{
        padding: 10px 30px;
        border: 3px black solid;
        border-radius: 30px;
    
        text-decoration: none;
        font-size: 4pt;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .btn > a:hover{
        padding: 10px 30px;
        transition: linear 0.3s;
        border: 3px blue solid;
        border-radius: 30px;
    }
}